# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.spec

# AI Models
models/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Debug audio
debug_audio.wav